<div class="container" ng-controller="invoiceController">
  <div class="report-wrapper">
    <table class="table table-striped table-hover">
      <thead>
        <tr class="row">
          <th class="col-md-1 text-center">Sr.No</th>
          <th class="col-md-1 text-center">Date</th>
          <th class="col-md-3 text-center">Customer Name</th>
          <th class="col-md-3 text-center">Products</th>
          <th class="col-md-2 text-center">Total</th>
          <th class="col-md-2 text-center">Payment</th>
        </tr>
      </thead>
      <tbody>
        <tr class="row" class="row">
          <td class="col-md-1 text-center">Sr.No</td>
          <td class="col-md-1 text-center">Date</td>
          <td class="col-md-3 text-center">Customer Name</td>
          <td class="col-md-3 text-center">Products</td>
          <td class="col-md-2 text-center">Total</td>
          <td class="col-md-2 text-center">Payment</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>